@import "./components/sidebar.css";
@import "./components/appbar.css";

body {
  font-family: "Spartan", sans-serif;
  font-weight: 300;
}

.main-container {
  margin-left: 15%;
}

main {
  height: calc(100vh - 80px);
  padding: 2rem 4rem;
}

.table td, th {
    vertical-align: middle;
}